.background {
  position: relative;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(#dabb0841),
    url('https://img.freepik.com/vector-premium/patron-costuras-veterinaria-mascotas-medicamentos-alimentos-gato-collar-perro-pata-vendada_192280-216.jpg?semt=ais_hybrid&w=740&q=80') center;
  opacity: 0.3;
  z-index: 1;

}

.background>* {
  position: relative;
  z-index: 2;
}

.form-wrapper h1 {
  font-size: 3rem;
  color: #A04938;
  margin-top: 35px;
  //margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}


.light-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.card-form {
  max-width: 1100px;
  background: #fff;
  border-radius: 15px;
  padding: 30px;
}

.input-group-text {
  background: #f1f1f1;
  font-size: 1.1rem;
}

.clean-input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 3px rgba(13, 110, 253, 0.4);
}

.img-preview {
  width: auto;
  max-width: 180px;
  border-radius: 10px;
}

.form-alert {
  background: #fdecea;
  color: #e74c3c;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: #e74c3c;
}

input.ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border-color: #6c63ff;
}

.error-msg {
  color: #e74c3c;
  font-size: 13px;
  margin-top: 4px;
  display: block;
  font-style: italic;
}

button[type="submit"]:hover:not(:disabled) {
  background: #574fd6;
  transform: translateY(-2px);
}

button[type="submit"]:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.dropdown-light {
  position: absolute;
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
  z-index: 20;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 2px;
}

.dropdown-item-light {
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.dropdown-item-light:hover {
  background: #e9f4ff;
}

.position-relative {
  position: relative;
}

.card-form .position-relative {
  margin-bottom: 18px;
}

.input-group {
  margin-bottom: 5px;
}
